.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.gallery-item {
    flex-basis: 300px;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin: 25px  0 25px;
}

.gallery-item-info {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: justify;
    /* justifica el texto */
}

.gallery-item-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;

}

.gallery-item-info p {
    font-size: 14px;
    margin: 0;
    text-align: justify;

}